@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Tambahkan CSS ini ke file CSS Anda */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b2b2b2b2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4475f2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4475f2;
  opacity: 0.6;
}

.masonry {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 16px;
}

.masonry-item {
  break-inside: avoid;
}

.gallery {
  columns: 3;
  
}

.layout {
  width: 100%;
  max-height: 400px;
  margin-bottom: 1rem;
  /* filter: saturate(0); */
  cursor: pointer;
  transition: ease 0.3s;
}

.layout:hover {
  filter: saturate(1);
  transform: scale(1.040);
  /* box-shadow: 0 0 60px 30px rgba(0, 0, 0, 0.3); */
}
